body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  margin-bottom: 0;
}

.readme-link {
  position: absolute;
  top: 10px;
  right: 10px;
}
.map-wrapper {
  height: calc(100vh - 42px);
}
.map-wrapper .leaflet-grab {
  cursor: crosshair;
}
.right-column {
  padding: 0 16px;
}
.uploaded-image {
  width: 100%;
}
